<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ERP"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.planarry.erp.entity.Company</class>
        <class>com.planarry.erp.entity.TransportType</class>
        <class>com.planarry.erp.entity.Transport</class>
        <class>com.planarry.erp.entity.Trailer</class>
        <class>com.planarry.erp.entity.Currency</class>
        <class>com.planarry.erp.entity.CurrencyRate</class>
        <class>com.planarry.erp.entity.EmployeeRole</class>
        <class>com.planarry.erp.entity.Employee</class>
        <class>com.planarry.erp.entity.TransportTrailers</class>
        <class>com.planarry.erp.entity.TransportDrivers</class>
        <class>com.planarry.erp.entity.TransportForwarders</class>
        <class>com.planarry.erp.entity.TransportCrewMembers</class>
        <class>com.planarry.erp.entity.Cargo</class>
        <class>com.planarry.erp.entity.Journey</class>
        <class>com.planarry.erp.entity.JourneyComposition</class>
        <class>com.planarry.erp.entity.JourneyCargo</class>
        <class>com.planarry.erp.entity.TransportState</class>
        <class>com.planarry.erp.entity.TransportClassADR</class>
        <class>com.planarry.erp.entity.ActivitiesType</class>
        <class>com.planarry.erp.entity.ExtUser</class>
        <class>com.planarry.erp.entity.MonitoringSettings</class>
        <class>com.planarry.erp.entity.JourneyState</class>
        <class>com.planarry.erp.entity.Constant</class>
        <class>com.planarry.erp.entity.AccessToCargo</class>
        <class>com.planarry.erp.entity.AccessToTrailer</class>
        <class>com.planarry.erp.entity.Department</class>
        <class>com.planarry.erp.entity.DepartmentEmployee</class>
        <class>com.planarry.erp.entity.TransportsAccess</class>
        <class>com.planarry.erp.entity.MutualSettlements</class>
        <class>com.planarry.erp.entity.ClientCredit</class>
        <class>com.planarry.erp.entity.ServicesPayment</class>
        <class>com.planarry.erp.entity.Point</class>
        <class>com.planarry.erp.entity.CargoDeliveryPoint</class>
        <class>com.planarry.erp.entity.Delivery</class>
        <class>com.planarry.erp.entity.DeliveryComposition</class>
        <class>com.planarry.erp.entity.PolygonMap</class>
        <class>com.planarry.erp.entity.EntryPoint</class>
        <class>com.planarry.erp.entity.PolygonPoint</class>
        <class>com.planarry.erp.entity.Category</class>
        <class>com.planarry.erp.entity.CategoryArea</class>
        <class>com.planarry.erp.entity.TransportArea</class>
        <class>com.planarry.erp.entity.PolygonSegment</class>
    </persistence-unit>
</persistence>
